/* GENERAL PROPS */

html,
body{
  font-family: Futura, sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.description {
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  text-align: justify;
}

.margin-bottom {
  margin-bottom: 30px;
}

.main-container {
  position: relative;
}

.cardcontainer {
  position: absolute;
}

.card {
  position: absolute;
}
.card-back {
  border: thin solid black;
  background: black;
  border-radius: 10px;
}
.card-back img {
  height: 100%;
  width: 100%;
}
.cardspacecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cardspace-title {
  position: absolute;
  pointer-events: none;

}
.upload-subtitle {
  font-family: 'Playfair Display', serif;
  font-size: 10px;
}


/* SECTIONS */

.header {
  align-items: center;
  background: #333333;
  color: white;
  display: flex;
  font-family: 'Pinyon Script', cursive;
  font-size: 35px;
  height: 50px;
  padding: 0 30px;
}


.side-bar {
  background: #eee;
  max-width: 250px;
  min-width: 250px;
  width: 250px;
  padding: 30px;
}
#processing-indicator {
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
#processing-indicator.hidden {
  display: none;
}
#processing-indicator.visible {
  display: flex;
}
#processing-indicator-background {
  opacity: 0.5;
  background: white;
  height: 100%;
  width: 100%;
  position: absolute;
}
#deck-holder {
  position: absolute;
}

.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  justify-content: center;
  width: 100%;
}

.cardspace {
    background: white;
    outline: 2px dashed #333;
    transition: background 0.5s;
}
.cardspace:hover {
    background: gray;
}

#tooltip {
  background: #333333;
  border-radius: 5px;
  color: white;
  display: none;
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  pointer-events: none;
  white-space: pre-line;
  width: 200px;
  z-index: 1000;
}
.drawn-card {
  z-index: 0;
}
.drawn-card:hover {
  z-index: 100;
}
.cardfront-background {
  background: white;
  border: 7px solid black;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  width: 100%;

}
.cardfront-main {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
}

.cardfront-background,
.cardfront-main {
  left: -10px;
  top: -6px
}
.cardfront-top {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
  position: relative;
  top: 2px;
  left: 3px;
  width: calc(100% - 15px);
}

.cardfront-label {
  font-size: 10px;
}
.cardfront-suit {
  height: 25px;
  /* width: 40px; */
}
.cardfront-fullsize {
  /* height: 25px; */
  width: 20px;
}

.card {
  cursor: pointer;
}


.major-arcana-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  height: 100%;
  width: 100%;
}

.card-title {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card-title--minor-arcana {
  font-size: 12px;
}

/* just for generating a figure */
.card-tip {
  display: none;
}

.major-arcana-layout .card-tip {
  display: block;
  font-size: 10px;
  position: absolute;
  text-align: center;
  top: 100%;
}

#reset-button {
  cursor: pointer;
  text-decoration: underline;
}

/* SELECT STYLING */
.select-label {
  white-space: nowrap;

}

select {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: #333333;
	display: flex;
	font-size: 15px;
	font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  text-align-last: right;
	width: 100%;
}
select::-ms-expand {
	display: none;
}
select:focus {
	border-color: #aaa;
	color: #222;
	outline: none;
}
select option {
	font-weight: normal;
  text-transform: none;
}



.vega-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  left: 5px;
  width: 100%;
}
/* loading icon: https://loading.io/css/ */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
